<head>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  />
</head>
<div *ngIf="myJob" class="container agency-job-container">
  <h2 class="mt-4">Job Details</h2>
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <h4 class="mt-4">Object</h4>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Job status:</strong> {{ myJob.jobStatus }}
          </li>
          <li class="list-group-item">
            <strong>Object type:</strong> {{ jobsObject.type }}
          </li>
          <li class="list-group-item">
            <strong>Address:</strong> {{ jobsObject.address }}
          </li>
          <li class="list-group-item">
            <strong>Area:</strong> {{ jobsObject.area }}
          </li>
          <li class="list-group-item" *ngIf="myJob.jobStatus === 'inProgress'">
            <h5 class="mt-2">Work on object:</h5>
            <!-- Add logic for working on jobs -->
            <div *ngFor="let room of jobsObject.rooms; let i = index">
              Room {{i + 1}}: 
              <select id="score" class="form-control" [(ngModel)]="roomProgress[i]">
                <option value="white">Waiting for work</option>
                <option value="red">Start work</option>
                <option value="green">Finish work</option>
              </select>
            </div>
            <br>
            <button class="btn btn-success" (click)="doWork()">
              Do selected work on objects
            </button>
          </li>
          <li class="list-group-item">
            <canvas #canvas width="600" height="300"></canvas>
          </li>
          <li class="list-group-item" *ngIf="showStartJobButton()">
            <div class="input-group">
              <select class="custom-select" id="inputGroupSelect04" required [(ngModel)]="workers">
                <option *ngFor="let item of generateArray(); index as currentIndex" value="{{item}}">{{item}}</option>
              </select>
              <div class="input-group-append">
                <button class="btn btn-outline-success" (click)="startJob()">Start work!</button>
              </div>
            </div>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="!myJob" class="container">
  <p class="mt-4">No job details found.</p>
</div>
