<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <table class="job-table">
        <thead>
          <tr>
            <th>Agency Username</th>
            <th>Job Status</th>
            <th>Object</th>
            <th>Start</th>
            <th>End</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let job of myJobs"
            [ngStyle]="{ 'background-color': getRowColor(job.jobStatus) }"
          >
            <td>{{ job.agencyUsername }}</td>
            <td>{{ job.jobStatus }}</td>
            <td>{{ job.display }}</td>
            <td>{{ job.start | date }}</td>
            <td>{{ job.end | date }}</td>
            <td>
              <button (click)="showDetails(job._id)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <button class="btn btn-success" (click)="goBack()">Go Back</button>
      <hr>
      <input type="checkbox" name="active-job" id="active-job" [(ngModel)]="active" (change)="filter()">Active jobs
      <br>
      <input type="checkbox" name="inProgress-job" id="inProgress-job" [(ngModel)]="inProgress" (change)="filter()">In Progress jobs
      <br>
      <input type="checkbox" name="finished-job" id="finished-job" [(ngModel)]="finished" (change)="filter()">Finished jobs
    </div>
  </div>
</div>
