<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />
</head>
<div class="container">
  <h1>Hi {{ loggedUser.name }} {{ loggedUser.surname }}</h1>
  <hr />
  <button class="btn btn-secondary" (click)="gotoDetails()">
    See my details
  </button>
  <br />
  <br />
  <button class="btn btn-secondary" (click)="gotoCreateObject()">
    Create object
  </button>
  <br />
  <br />
  <button class="btn btn-secondary" (click)="gotoGeneral()">
    See agencies
  </button>
  <br />
  <br />
  <button class="btn btn-secondary">My jobs</button>
  <br />
  <br />
  <button class="btn btn-secondary" (click)="gotoCreateJob()">
    Create New Job
  </button>
</div>
