<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  />
</head>
<div class="container">
  <h1>Hi {{ loggedAdmin.username }}</h1>
  <hr />
  <button class="btn btn-secondary" (click)="gotoWorkWithUsers()">
    Work with users
  </button>
  <br />
  <br />
  <button class="btn btn-secondary" (click)="gotoWorkWithAgencies()">
    Work with agencies
  </button>
  <br />
  <br />
  <button class="btn btn-secondary" (click)="gotoWorkWithJobs()">
    Work with jobs
  </button>
</div>
