body {
  padding: 20px;
  margin-bottom: 60px;
}

.user-details {
  margin-bottom: 20px;
}

.comment {
  position: relative;
}

.edit-button {
  position: absolute;
  top: 5px;
  right: 5px;

}
.delete-button {
  position: absolute;
  top: 5px;
  right: 60px;

}

.agency-details-row {
  background-color: #f6f6f6;
  padding: 20px;
}
