<body>
  <div *ngIf="agency">
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 agency-details-row">
          <h2>Agency Details</h2>

          <div class="agency-details">
            <h5>Agency Name:</h5>
            <p id="agencyName">{{ agency.agencyName }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>State:</h5>
            <p id="state">{{ agency.state }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>City:</h5>
            <p id="city">{{ agency.city }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>Address:</h5>
            <p id="address">{{ agency.adress }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>PIB:</h5>
            <p id="pib">{{ agency.pib }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>Description:</h5>
            <p id="description">{{ agency.description }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>Username:</h5>
            <p id="username">{{ agency.username }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>Telephone:</h5>
            <p id="tel">{{ agency.tel }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>Currently available workers:</h5>
            <p id="tel">{{ agency.workers }}</p>
          </div>

          <hr />

          <div class="agency-details">
            <h5>Email:</h5>
            <p id="email">{{ agency.email }}</p>
          </div>

          <hr />

          <h3>Comments</h3>
          <div *ngFor="let com of comments; let i = index" [attr.data-index]="i">
            <ul class="list-group">
              <li class="list-group-item">
                <strong>{{ com.user }}</strong> - Rating: {{ com.rating }} -
                <i>{{ com.comment }}</i>
                <button class="edit-button btn btn-primary" *ngIf="showButton(com.username)" (click)="editComment(i)">
                    Edit
                </button>
              </li>
            </ul>
          </div>
          <br>
          <button class="btn btn-primary" (click)="goBack()">
            Go Back
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
