<div class="container agency-job-container">
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <h4 class="mt-4">Object</h4>
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Object type:</strong> {{ myObject.type }}
            <br>
            <button class="btn btn-info" (click)="modifyType()">Modify</button>
          </li>
          <li class="list-group-item">
            <strong>Address:</strong> {{ myObject.address }}
            <br>
            <button class="btn btn-info" (click)="modifyAddress()">Modify</button>
          </li>
          <li class="list-group-item">
            <strong>Area:</strong> {{ myObject.area }}
            <br>
            <button class="btn btn-info" (click)="modifyArea()">Modify</button>
          </li>
          <li class="list-group-item">
            <canvas #canvas width="600" height="300"></canvas>
            <br>
            <button class="btn btn-info" (click)="modifyCanvas()">Modify</button>
          </li>
        </ul>
      </ul>
      <br>
      <button class="btn btn-secondary" (click)="goBack()">
        Go Back
      </button>
    </div>
  </div>
</div>
