<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Pending jobs</h2>
      <table class="job-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Object</th>
            <th>Start</th>
            <th>End</th>
            <th>Offer</th>
            <th>Details</th>
            <th>Deny this job</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let job of pendingJobs"
            [ngStyle]="{ 'background-color': getRowColor(job.jobStatus) }"
          >
            <td>{{ job.username }}</td>
            <td>{{ job.display }}</td>
            <td>{{ job.start | date }}</td>
            <td>{{ job.end | date }}</td>
            <td>
              <input type="number" name="offer" [(ngModel)]="myOffer" id="offer-input" placeholder="In $">
              <button (click)="makeAnOffer(job._id)">Send offer</button>
            </td>
            <td><button (click)="showDetails(job._id)">Details</button></td>
            <td><button id="deny-button" (click)="denyJob(job._id)">Deny</button></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h2>Jobs that are in progress</h2>
      <table class="job-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Object</th>
            <th>Start</th>
            <th>End</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let job of inProgressJobs"
            [ngStyle]="{ 'background-color': getRowColor(job.jobStatus) }"
          >
            <td>{{ job.username }}</td>
            <td>{{ job.display }}</td>
            <td>{{ job.start | date }}</td>
            <td>{{ job.end | date }}</td>
            <td><button (click)="showDetails(job._id)">Details</button></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h2>Accepted or denied jobs</h2>
      <table class="job-table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Object</th>
            <th>Start</th>
            <th>End</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let job of otherJobs"
            [ngStyle]="{ 'background-color': getRowColor(job.jobStatus) }"
          >
            <td>{{ job.username }}</td>
            <td>{{ job.display }}</td>
            <td>{{ job.start | date }}</td>
            <td>{{ job.end | date }}</td>
            <td>
              <button (click)="showDetails(job._id)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
